<header id="header" class="header d-flex flex-column justify-content-center">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a href="/index.html" class="active"
          ><i class="bi bi-house navicon"></i><span>Home</span></a
        >
      </li>
      <li>
        <a href="/index.html#about"
          ><i class="bi bi-person navicon"></i><span>About</span></a
        >
      </li>
      <li>
        <a href="/index.html#resume"
          ><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a
        >
      </li>
      <li>
        <a href="/index.html#portfolio"
          ><i class="fa-solid fa-diagram-project"></i><span>Project</span></a
        >
      </li>
      <li>
        <a href="/index.html#contact"
          ><i class="bi bi-envelope navicon"></i><span>Contact</span></a
        >
      </li>
      <li>
        <a id="toggle-theme" href="#"
          ><i class="bi bi-sun-fill" id="theme-icon"></i
          ><span id="theme-text">Light</span></a
        >
      </li>
    </ul>
  </nav>
</header>
